body{
    background-color: antiquewhite;
}

.head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 3%;
}

.logo img{
    width: 100%;
}

.headBar{
    width: 80%;
    margin: 0 5%;
}

.headBar ul{
    display: flex;
    justify-content: space-between;
}

.headBar li{
    list-style: none;
}

.headlang{
    display: flex;
    justify-content: space-between;
    width: 15%;
}