@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  color: #fff;
}
ul {
  list-style: none;
}
img {
  max-width: 300px;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.wrap {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  max-width: 100%;
  height: 200px;
  background: url(./img/netflix-bg.jpg) no-repeat center/cover;
  position: relative;
}
header:after {
  content: "";
  display: inline-block;
  height: 200px;
  width: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+95&0+0,1+88 */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 88%,
    rgba(0, 0, 0, 1) 95%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 88%,
    rgba(0, 0, 0, 1) 95%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 88%,
    rgba(0, 0, 0, 1) 95%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
header h1 {
  position: absolute;
  bottom: -10%;
  left: 0;
  font-size: 4rem;
  font-weight: bold;
  color: red;
  text-transform: uppercase;
}

.l-grid-item {
  float: left;
  padding-top: 300px;
  height: 350px;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  border: 1px solid #999;
  border-radius: 10px;
  transition: all 300ms;
}
.l-grid-item:hover {
  transform: translateY(-10px);
}
.l-grid-item-photo {
  position: absolute;
  top: 0;
  left: 0;
}
.l-grid-item-desc {
  width: 300px;
  position: absolute;
  top: 55%;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 5px;
  overflow: hidden;
}
.l-grid-item-desc p {
  height: 100px;
}
.l-grid-item-desc:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+95&0+0,1+88 */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 88%,
    rgba(0, 0, 0, 1) 95%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 88%,
    rgba(0, 0, 0, 1) 95%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 88%,
    rgba(0, 0, 0, 1) 95%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

/* grid system */
.l-grid-1-12 {
  width: 8.33333333%;
}
.l-grid-2-12 {
  width: 16.66666667%;
}
.l-grid-3-12 {
  width: 25%;
}
.l-grid-4-12 {
  width: 33.33333333%;
}
.l-grid-5-12 {
  width: 41.66666667%;
}
.l-grid-6-12 {
  width: 50%;
}
.l-grid-7-12 {
  width: 58.33333333%;
}
.l-grid-8-12 {
  width: 66.66666667%;
}
.l-grid-9-12 {
  width: 75%;
}
.l-grid-10-12 {
  width: 83.33333333%;
}
.l-grid-11-12 {
  width: 91.66666667%;
}
.l-grid-12-12 {
  width: 100%;
}

.l-grid:after {
  content: "";
  display: block;
  clear: both;
}

@media (max-width: 768px) {
  .cover {
    margin: 0.5rem;
  }
  /* grid tablet system */
  .l-grid-tablet-1-12 {
    width: 8.33333333%;
  }
  .l-grid-tablet-2-12 {
    width: 16.66666667%;
  }
  .l-grid-tablet-3-12 {
    width: 25%;
  }
  .l-grid-tablet-4-12 {
    width: 33.33333333%;
  }
  .l-grid-tablet-5-12 {
    width: 41.66666667%;
  }
  .l-grid-tablet-6-12 {
    width: 50%;
  }
  .l-grid-tablet-7-12 {
    width: 58.33333333%;
  }
  .l-grid-tablet-8-12 {
    width: 66.66666667%;
  }
  .l-grid-tablet-9-12 {
    width: 75%;
  }
  .l-grid-tablet-10-12 {
    width: 83.33333333%;
  }
  .l-grid-tablet-11-12 {
    width: 91.66666667%;
  }
  .l-grid-tablet-12-12 {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .cover {
    margin: 0.2rem;
  }
  /* grid mobile system */
  .l-grid-mobile-1-12 {
    width: 8.33333333%;
  }
  .l-grid-mobile-2-12 {
    width: 16.66666667%;
  }
  .l-grid-mobile-3-12 {
    width: 25%;
  }
  .l-grid-mobile-4-12 {
    width: 33.33333333%;
  }
  .l-grid-mobile-5-12 {
    width: 41.66666667%;
  }
  .l-grid-mobile-6-12 {
    width: 50%;
  }
  .l-grid-mobile-7-12 {
    width: 58.33333333%;
  }
  .l-grid-mobile-8-12 {
    width: 66.66666667%;
  }
  .l-grid-mobile-9-12 {
    width: 75%;
  }
  .l-grid-mobile-10-12 {
    width: 83.33333333%;
  }
  .l-grid-mobile-11-12 {
    width: 91.66666667%;
  }
  .l-grid-mobile-12-12 {
    width: 100%;
  }
}
